@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Yaseen CARIM BACOR<br />
    Riverside Lane Coromandel, 71616<br />
    <abbr title="Phone">P:</abbr>
    +230 5945 5945
</address>

<address>
    <strong>Query:</strong>   <a href="mailto:ya5een@carimbacor.com">ya5een@carimbacor.com</a><br />
</address>